.charto-mod-noTransition {
	transition: none !important;
}

.charto-Dialog > .p-DockPanel > .p-DockPanel-tabBar > .p-TabBar-content {
	/* Leave space for a drag handle in dialog's tab bar. */
	padding-right: 50%;
	/* Change mouse pointer over drag handle. */
	cursor: move;
}

.charto-Dialog > .p-DockPanel > .p-DockPanel-tabBar > .p-TabBar-content > .p-TabBar-tab {
	/* Reset mouse pointer over tabs. */
	cursor: default;
}

.charto-Dialog > .charto-Dialog-resize {
	position: absolute;
}

.charto-Dialog > .charto-Dialog-resize-ns {
	left: 16px;
	right: 16px;
	height: 8px;
	cursor: ns-resize;
}

.charto-Dialog > .charto-Dialog-resize-n { top: 0px; }
.charto-Dialog > .charto-Dialog-resize-s { bottom: 0px; }

.charto-Dialog > .charto-Dialog-resize-ew {
	top: 16px;
	bottom: 16px;
	width: 8px;
	cursor: ew-resize;
}

.charto-Dialog > .charto-Dialog-resize-w { left: 0px; }
.charto-Dialog > .charto-Dialog-resize-e { right: 0px; }

.charto-Dialog > .charto-Dialog-resize-nesw {
	width: 16px;
	height: 16px;
	cursor: nesw-resize;
}

.charto-Dialog > .charto-Dialog-resize-ne { right: 0px; top: 0px; }
.charto-Dialog > .charto-Dialog-resize-sw { left: 0px; bottom: 0px; }

.charto-Dialog > .charto-Dialog-resize-nwse {
	width: 16px;
	height: 16px;
	cursor: nwse-resize;
}

.charto-Dialog > .charto-Dialog-resize-nw { left: 0px; top: 0px; }
.charto-Dialog > .charto-Dialog-resize-se { right: 0px; bottom: 0px; }

/* Draw a drag handle on the right side of the tab bar. */

.charto-Dialog > .p-DockPanel > .p-DockPanel-tabBar > .p-TabBar-content:after {
	content: '';
	position: absolute;
	width: 100%;
	border-top: 1px solid #c0c0c0;
	margin: 6px 8px 0 8px;
	box-shadow:
		0  4px 0 0 #c0c0c0,
		0  8px 0 0 #c0c0c0;
}
